<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seo tools</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="static/css/admin.css">
</head>
<body>

  <!-- START NAV -->
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="../">
          SEO Tools
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="admin.html">
            Strona głowna
          </a>
        </div>

      </div>
    </div>
  </nav>
  <!-- END NAV -->
  <div class="container">
    <div class="columns">
      <div class="column is-3">
     <aside class="menu">
          <p class="menu-label">
            Główne
          </p>
          <ul class="menu-list">
            <li><a href="/" >Panel</a></li>
		  </ul>
			 <p class="menu-label">
            Zapytania Test
          </p>
		  <ul class="menu-list">
			  <li><a href="/querytest">Test zapytań</a></li>
		  </ul>
          <p class="menu-label">
            Zapytania
          </p>
          <ul class="menu-list">
            <li><a href="/pageinfo">Informacje o stronie</a></li>
            <li>
              <a>Szczegółowe zapytania</a>
              <ul>
                <li><a href="/titleinfo">Tytuł</a></li>
                <li><a href="/descriptioninfo">Opis</a></li>
                <li><a href="/h1info">H1</a></li>
			    <li><a href="/canonicalinfo">Canonical</a></li>
		    	<li><a class="is-active" href="/linksinfo">Liczba linków</a></li>
              </ul>
            </li>
              </aside>
      </div>
      <div class="column is-9">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="../">Seo tools</a></li>
             <li class="is-active"><a href="#" aria-current="page">Links</a></li>
          </ul>
        </nav>

        <div class="columns">
      <div class="column is-one-third">

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Liczba linków
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Pobierz tytuł strony: <a href="http://127.0.0.1:5000/links">/links</a>
      Wysyłając zapytanie POST<br>
      Header:      Content-Type      application/json<br>
      Otrzymasz
      <ul>
        <li>Liczbę linków</li>

      </ul>
    </div>
  </div>
  <footer class="card-footer">
    <a href="/querytest" class="card-footer-item">Testuj</a>
    <a href="#" class="card-footer-item">Kopiuj</a>
    </footer>
</div>

      </div>

      <div class="column highlight-full">
         <p class="card-header-title">
      POST
    </p>

        <figure class="highlight"><pre><code class="language-html" data-lang="html">{
  "url" : "http://medium.com/the-data-dynasty/collection-of-8-brilliant-google-analytics-
  hacks-you-probably-havent-thought-of-300bdae6df6d"
} </code></pre></figure>
           <p class="card-header-title">
      Response
    </p>
        <figure class="highlight"><pre><code class="language-html" data-lang="html">W przygotowaniu</code> </pre></figure>
      </div>
    </div>
      </div>
    </div>
  </div>
  <script async type="text/javascript" src="static/js/bulma.js"></script>
</body>
</html>