

<!--Main-->
          <div class="columns">
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <header class="card-header">
                          <p class="card-header-title">
                              Test zapytań
                          </p>
                          <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
                          </a>
                      </header>
                      <div class="card-content">
                          <div class="content">
                              <div class="field">
                                  <label class="label">Adres url</label>
                                  <div class="control">
                                      <input v-model='urlp' class="input" type="text" placeholder="http://google.pl">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <footer class="card-footer">
                          <a href="#" class="card-footer-item">Testuj</a>
                          <a href="#" class="card-footer-item">Kopiuj</a>
                      </footer>
                  </div>

              </div>
              </div>
          </div>
          <div class="columns">
               <div class="column">

        </div></div>